.MuiTypography-body2 {
  font-size: 1.5rem !important;
}
.MuiTypography-body1 {
  font-size: 1.5rem !important;
}
.MuiSvgIcon-root {
  width: 1.5em !important;
  height: 1.5em !important;
}
.MuiStepIcon-text {
  font-size: 1.25rem !important;
}
