.blog-thumbnail {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-select .innocent-select {
  display: block !important;
  padding: 5px 15px !important;
}

.form-select .nice-select {
  display: none !important;
}

#upload-photo {
  font-size: 1.4rem;
}

.comp-text {
  font-size: 1.4rem;
}

.MuiTableCell-root {
  font-size: 1.3rem !important;
}
.MuiMenuItem-root {
  font-size: 1.5rem !important;
}
.MuiTablePagination-input {
  font-size: 1.5rem !important;
}
.MuiTablePagination-select {
  padding-left: 12px !important;
}
.css-2b097c-container {
  width: 100px !important;
  margin-right: 1rem;
}
.css-g1d714-ValueContainer {
  padding: 14px 14px !important;
}

@media only screen and (max-width: 575px) and (min-width: 320px) {
  .css-g1d714-ValueContainer {
    padding: 0px 10px !important;
  }
}

@media only screen and (max-width: 432px) and (min-width: 359px) {
  .event-filter-area .btn-brand {
    margin-top: 1rem;
  }
}

.bg-orange {
  background: #e67e22 !important;
}

.lifetime-count-33 {
  color: #e67e22 !important;
}
.lftm__menu {
  z-index: 999 !important;
}
.lftm__value-container {
  padding: 0 0 0 15px !important;
}
.lftm-container {
  width: 120px !important;
}
@media only screen and (max-width: 575px) and (min-width: 320px) {
  .lftm__value-container {
    height: 30px !important;
  }
  .lftm__indicator {
    padding: 0 3px !important;
  }
}
@media only screen and (max-width: 387px) {
  .mem-srch-btn {
    margin-top: 1rem !important;
  }
}

.membership-rules-page-content-warp ul {
  list-style: disc;
  padding-left: 5rem;
}
.membership-rules-page-content-warp h4 {
  color: #559137;
  margin-top: 3rem;
}
.btn-reg:hover {
  color: #fff !important;
}
.container-style {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.btn-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.timer-area {
  margin-top: 2rem;
}
.btn-row .clear-btn {
  background: #f39c12 !important;
}
.timer-area .clear-btn {
  background: lightgray;
  color: black;
}
.btn-row .clear-btn:focus {
  color: white !important;
}
.btn-row .btn-brand,
.timer-area .btn-brand {
  padding: 6px 22px !important;
  font-size: 1.4rem !important;
  line-height: 2.2399999999999998rem !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  margin-top: 10px !important;
}
.btn-row .btn-brand:hover {
  background-color: #161f37 !important;
  color: #fff !important;
}
.timer-area .clear-btn:hover {
  background: gray;
  color: white;
}
